<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MeetingPlannerDb" connectionString="Host=localhost;Username=postgres;Password=123;Database=meetingplanner"/>
	</connectionStrings>

	<appSettings>
		<add key="ImagePath" value="Img\"/>
	</appSettings>
</configuration>