<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TourPlannerDb" connectionString="Host=localhost;Username=postgres;Password=admin;Database=tourplanner"/>
	</connectionStrings>

	<appSettings>
		<add key="MapQuestKey" value="yN4eflLMNbDl3WCx0xTc9fX93CdrKUrV" />
		<add key="MapImagePath" value="Img\"/>
	</appSettings>
</configuration>